body {
    background-color: #f8f9fa;
    font-family: 'Trebuchet MS', sans-serif;
}
.navbar-custom {
    background-color: #684624;
    opacity: 0.9;
    backdrop-filter: blur(5px);
}
.navbar-toggler {
    background-color: whitesmoke;
}

.navbar-custom .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.9rem;
    margin-left: 20px;
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1rem;
    margin-right: 1.2rem;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #f8f9fa;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
}

.header16 {
    background: url('../images/tablet.jpeg') no-repeat center center;
    position: relative;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
  .navbar-custom .navbar-collapse {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #684624;
    opacity: 0.9;
  }
}

@media (max-width: 768px) {
   .header16 {
        height: 70vh;
    }
}

.header16 .container-fluid {
    position: relative;
    z-index: 1;
}

.header16::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#form-background {
    background-image: url("../images/receipt.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    font-weight: bold;
    color: #495057;
}

.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0.25rem;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.text-danger {
    font-weight: bold;
}

.form-header {
    margin-bottom: 20px;
    text-align: center;
}

.form-header h2 {
    font-size: 2rem;
    color: #343a40;
}

.form-text {
    color: #6c757d;
}


/* .about{
    color: white;
} */
.about-section {
    font: Golos Text;
    background-color: #c5c7cc;
    padding: 60px 0;
}

.about-section .card {
    border: none;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 30px;
}

.about-section .card-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 18px;
    margin-left: 18px;
}

.about-section .card-text {
    font-size: 1.4rem;
    color: #6c757d;
    line-height: 1.6;
}

.about-section .item-wrapper {
    margin-bottom: 20px;
}

.about-section .item-wrapper:last-child {
    margin-bottom: 0;
}

.features-section {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.features-section .section-title {
    font-size: 3rem;
    font-weight: 700;
    color: #343a40;
    text-align: center;
    margin-bottom: 40px;
}

.features-section .feature-item {
    margin-bottom: 40px;
}

.features-section .feature-item .text-wrapper h2 {
    font-size: 3.9rem;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.features-section .feature-item .text-wrapper p {
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.features-section .feature-item .image-wrapper img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.features-section .feature-item:hover .image-wrapper img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contacts-section {
    padding: 60px 0;
    background: black;
    /* color: #fff; */
}

.contacts-section .section-title {
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.contacts-section .card-title {
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
}

.contacts-section .mbr-text a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}


.contacts-section .item-wrapper {
    margin: 10px;
    background: white;
    padding: 15px;
    border-radius: 20px;
    /* transition: background 0.3s, transform 0.3s; */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

thead {
    background-color: #485c65;
    color: #ffffff;
}

th,
td {
    padding: 15px;
    text-align: left;
}

th {
    font-size: 1.1rem;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

#submit_expense {
    background-color: #485c65;
    color: whitesmoke;
}
#submit_expense:hover{
    background-color: #f1a740;
}